<h3> Report a theft:</h3>
  <form action="/<%= @location.id%>" method="post">
    <label for= "bike_name">Make and Model</label>
    <input id ="bike_name" name ="bike[name]" type="text">
    <br>
    <label for= "bike_serial">Serial Number?</label>
    <input id ="bike_serial" name ="bike[serial]" type="text">
    <br>
    <label for= "bike_description">Description?</label>
    <br>
    <textarea id="bike_description" name="bike[description]" rows=10 cols = 40></textarea>
    <br>
    <button>Add Report</button>
  </form>
